In [1]:
import pandas as pd

In [2]:
sc_column_names = ['clicks', 'leads', 'service_category']
sc_data = pd.read_table('servicecategory.tsv', sep='\t', header=None, names = sc_column_names)
sc_data['cvr'] = sc_data['leads']/sc_data['clicks']

In [3]:
sc_data.head()

   clicks       leads                service_category       cvr
0    1237  215.185410      Premise Liability Attorney  0.173957
1    4175  959.565300            General Fraud Lawyer  0.229836
2    2661  741.744000               Harassment Lawyer  0.278746
3    1454  218.563170  General Elderly Abuse Attorney  0.150319
4      54    6.648401                Admiralty Lawyer  0.123119

In [ ]:
sc_data.to_csv('cvr_by_service_category')

In [4]:
sg_column_names = ['clicks', 'leads', 'service_group']
sg_data = pd.read_table('servicegroup.tsv', sep='\t', header=None, names = sg_column_names)
sg_data['cvr'] = sg_data['leads']/sg_data['clicks']

In [5]:
sg_data.head()

   clicks         leads          service_group       cvr
0      14      2.488539  Marriage Law-Canadian  0.177753
1     656     78.740260  Business Law-Canadian  0.120031
2   80048  21010.170000    Social Security Law  0.262470
3    1075    130.468100    Estate Law-Canadian  0.121366
4   12256   2713.728500      Violent Crime Law  0.221420

## Overall Conversion Rate

In [6]:
sc_data['leads'].sum()/sc_data['clicks'].sum()

0.22605923423644445

In [7]:
sg_data['leads'].sum()/sg_data['clicks'].sum()

0.22605729016426562